.expart-doctor{
    background-color: rgb(255, 255, 255);
    height:450px;
    padding: 0 5px;
    padding-top:10px;
    box-shadow: 5px 5px 5px 5px rgb(214, 212, 212);
    width:300px;
}
.expart-doctor img{
    height: 250px;
    width: 250px;
}
.expart-doctor:hover{
    transform:scale(1.02)
}